@import url('https://fonts.googleapis.com/css2?family=Anton&family=Baloo+Bhai+2:wght@800&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&family=Poppins:wght@400;500&family=Quicksand&family=Roboto+Mono:wght@500&family=Shantell+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    height: 100vh;
    /* width: 60vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-color: crimson; */
}

.container>div {
    width: 60vw;
}

h5 {
    /* text-align: right; */
}


.greetings-heading {
    position: relative;
    animation: slideFromTop 1s ease-in 1s 1 forwards;
}


.personal-portfolio-heading {
    position: relative;
    animation: slideFromLeft 1s ease-in 1s 1 forwards;
}

.professional-heading {
    position: relative;
    animation: slideFromRight 1s ease-in 1s 1 forwards;
}

.name-heading {
    position: relative;
    animation: slideFromBottom 1s ease-in 1s 1 forwards;
}

slideFromTop {
    from {
        transform: translateX(100%);
        left: 0;
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

slideFromLeft {
    from {
        transform: translateX(-100%);
        left: 0;
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

slideFromRight {
    from {
        transform: translateX(100%);
        left: 0;
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

slideFromBottom {
    from {
        transform: translateX(100%);
        left: 0;
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}






.card-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.card {
    /* background-color: #3498db; */
    position: absolute;
    position: relative;
    border: none;
}

.top-card {
    animation: slideFromTop 1s ease-in-out;
}
.left-card {
    animation: slideFromLeft 1s ease-in-out;
}

.right-card {
    animation: slideFromRight 1s ease-in-out;
    flex-direction: row;
    justify-content: flex-end;
}
.bottom-card {
    animation: slideFromBottom 1s ease-in-out;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 576px) {
    body{
        font-size: 3vmin;
    }
}


@keyframes slideFromTop {
    from {
        transform: translateY(-100%);
        left: 0;
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        left: 0;
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        right: 0;
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromBottom {
    from {
        transform: translateY(100%);
        right: 0;
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}